@media
    screen and (min-device-width: 800px),
    not all and (orientation: portrait) {

    h1 {
        font-size: 2.1vmax;
        margin-bottom: 50px;
    }


    footer {
        background: rgba(255, 255, 255, 1);
        -webkit-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.1);
        box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.1);
    }


    .main-content {
        width: 100%;
        display: table;
    }


    .wrapper {
        display: table-cell;
        vertical-align: middle;
    }


    .main-content__section {
        margin: 0 auto;
        font-size: 2.5vmax;
        margin-top: -13%;
        max-width: 55%;
        padding-bottom: 2%;
    }


    .main-content__intro {
        max-width: 80%;
    }


    .profile-picture {
        width: 35vw;
    }


    .main-content__intro-article-network-logo:hover {
        -webkit-transition: transform 0.2s ease;
        -o-transition: transform 0.2s ease;
        transition: transform 0.2s ease;
        -webkit-transform: scale(1.2) rotate(-5deg);
        -ms-transform: scale(1.2) rotate(-5deg);
        -o-transform: scale(1.2) rotate(-5deg);
        transform: scale(1.2) rotate(-5deg);
    }
}
