@media screen and (min-device-width: 800px) {

    h1 {
        font-size: 3vmax;
        margin-bottom: 50px;
    }


    .main-content {
        width: 100%;
        display: table;
    }


    .wrapper {
        display: table-cell;
        vertical-align: middle;
    }


    .main-content__section {
        margin: 0 auto;
        padding: 5% 15%;
        font-size: 3vmin;
        max-width: 55%;
        padding-bottom: 2%;
    }


    .main-content__intro {
        margin-top: -100px;
        max-width: 80%;
    }


    .profile-picture {
        width: 35vw;
    }


    .main-content__intro-article-network-logo:hover {
        -webkit-transition: transform 0.2s ease;
        -o-transition: transform 0.2s ease;
        transition: transform 0.2s ease;
        -webkit-transition-timing-function: scale(1.2) rotate(-5deg);
        -o-transition-timing-function: scale(1.2) rotate(-5deg);
        transition-timing-function: scale(1.2) rotate(-5deg);
    }
}
