<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Axel Duch's portfolio</title>
    <link rel=icon href="favicon.png">
    <link rel="canonical" href="http://www.axelduch.com/">
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="bower_components/fullpage.js/dist/jquery.fullpage.min.css">
    <link rel="stylesheet" href="shared.css">
    <link rel="stylesheet" href="mobile.css">
    <link rel="stylesheet" href="large-screens.css">
</head>
<body>
    <div class="main-content">
        <canvas id="introEffects" class="main-content__canvas"></canvas>
        <div class="wrapper">
            <div id="fullpage">
                <div class="section">
                    <section class="main-content__section main-content__intro">
                        <header class="main-content__intro-header clearfix">
                            <img src="profile.jpeg" alt="axel duch profile picture" class="profile-picture">
                            <h1>
                                Hi there, I'm Axel Duch a freelance web developer located in Ireland
                            </h1>
                        </header>
                        <article class="main-content__intro-article">
                            I like to deliver quality work that suits what the customers want and what the users deserve.
                        </article>
                    </section>
                </div>
                <div class="section">
                    <section class="main-content__section">
                        <article>
                                I also used to work as an employee until recently, maybe you've heard of
                            <a target="_blank" href="https://teamwork.com">Teamwork.com</a>?
                        </article>
                    </section>
                </div>
            </div>
        </div>
        <footer>
            <span class="contact-info">
                You can email me at <a class="contact-info__data" href="mailto:contact@axelduch.com">contact@axelduch.com</a><br />
                Or call me on this number <a class="contact-info__data" href="tel:+3538584850">+353 858 4850</span>
            </span>
            <a href="https://linkedin.com/in/axelduch" target="_blank"><div class="main-content__intro-article-network-logo linkedin-logo"></div></a>
            <a href="https://github.com/axelduch" target="_blank"><div class="main-content__intro-article-network-logo github-logo"></div></a>
            <!--
                PeoplePerHour Profile Widget
                The div#pph-hire me is the element
                where the iframe will be inserted.
                You may move this element wherever
                you need to display the widget
            -->
            <div id="pph-hireme"></div>
            <script type="text/javascript">
            (function(d, s) {
                var useSSL = 'https:' == document.location.protocol;
                var js, where = d.getElementsByTagName(s)[0],
                js = d.createElement(s);
                js.src = (useSSL ? 'https:' : 'http:') +  '//www.peopleperhour.com/hire/1847534339/1619144.js?width=728&height=115&orientation=horizontal&theme=light&rnd='+parseInt(Math.random()*10000, 10);
                try { where.parentNode.insertBefore(js, where); } catch (e) { if (typeof console !== 'undefined' && console.log && e.stack) { console.log(e.stack); } }
            }(document, 'script'));
            </script>
        </footer>
        <div class="copyrights">Icons made by <a href="http://www.flaticon.com/authors/dave-gandy" rel="nofollow" title="Dave Gandy">Dave Gandy</a> and  <a href="http://www.freepik.com" rel="nofollow" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/fullpage.js/dist/jquery.fullpage.min.js"></script>
    <script src="main.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-91995118-2', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
